<div class="content tp">
  <div class="container-fluid">
    <div class="row" [hidden]="emailFormStatus">
      <div class="col-md-8 offset-md-2">
        <!-- Login Tab Content -->
        <div class="account-content">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7 col-lg-6 login-left">
              <img src="assets/img/login-banner.png" class="img-fluid" alt="Login">
            </div>
            <div class="col-md-12 col-lg-6 login-right">
              <div class="login-header1">
                <a href="javascript:void(0);" style="float: left;" (click)="registerStatusFun(2)">
                  <h3 [ngClass]="{'activate': registerStatus == 2 }">User Password</h3>
                </a>
                <div class="text-right">
                  <a href="javascript:void(0);" class="forgot-link" (click)="registerStatusFun(1)">
                    <h3 [ngClass]="{'activate': registerStatus == 1 }">Hospital Password</h3>
                  </a>
                </div>
              </div>
              <!-- <div class="form-row">
              <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12" (click)="selectionStatus(1)">
                <img src="../../../assets/img/user_img.jpg" alt="Girl in a jacket" width="125" height="125">
                <h5 style="text-align: center;">Doctor</h5>
              </div>
              <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12" (click)="selectionStatus(2)">
                <img src="../../../assets/img/user_img.jpg" alt="Girl in a jacket" width="125" height="125">
                <h5 style="text-align: center;">User</h5>
              </div>
            </div> -->
              <form [formGroup]="userOtpForm" (ngSubmit)="sendUserOtp()">
                <div class="form-group">
                  <input type=" email" class="form-control" formControlName="Email" [(ngModel)]="EmailData.Email"
                    placeholder="Email" (keydown)="clearEmailMsg($event)"
                    [ngClass]="{ 'is-invalid': submitted && email.Email.errors}" />
                  <div *ngIf="submitted && email.Email.errors" class="invalid-feedback">
                    <div *ngIf="email.Email.errors.required">Email is required</div>
                    <div *ngIf="email.Email.errors.email">Email must be a valid email address</div>
                  </div>
                </div>
                <div class="form-group col-lg-12 text-center">
                  <button class="btn btn-primary btn-lg login-btn">Send OTP</button>
                </div>
                <div class="form-group col-lg-12 emailMsg text-center">
                  <div *[hidden]="emailMsg">{{emailMsg}}</div>
                  <div *ngIf="emailMsg">{{emailMsg}}</div>
                </div>
                <!-- <button class="btn btn-primary  btn-lg login-btn"></button>
                <button class="btn btn-secondary text-left" type="reset" (click)="onEmailReset()">Cancel</button> -->
              </form>
              <div class="m-3 text-center text-muted">
                <span>
                  <a [routerLink]="['/login']" class="text-primary ml-2">Back to Login</a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" [hidden]="otpFormStatus">
      <div class="col-md-8 offset-md-2">
        <div class="account-content">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7 col-lg-6 login-left">
              <img src="assets/img/login-banner.png" class="img-fluid" alt="Login">
            </div>
            <div class="col-md-12 col-lg-6 login-right">
              <div class="login-header">
                <h3>Forgot Password</h3>
              </div>
              <form [formGroup]="userPwdResetForm" (ngSubmit)="userResetPwd()">
                <div class="form-row">
                  <div class="form-group col-lg-12 otpRes">
                    <div *[hidden]="otpRes">{{otpRes}}</div>
                    <div *ngIf="otpRes">{{otpRes}}</div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control " formControlName="Token" (keypress)="hideOtpMsg($event)"
                    placeholder="OTP" [(ngModel)]="userPwdResetData.OTP"
                    [ngClass]="{ 'is-invalid': submitted && otp.Token.errors}" />
                  <div *ngIf="submitted && otp.Token.errors" class="invalid-feedback">
                    <div *ngIf="otp.Token.errors.required">Token is required</div>
                    <div *ngIf="otp.Token.errors.minlength">Token must be at least 6 digits</div>
                    <div *ngIf="otp.Token.errors.maxlength">Token must be not greater then 6 digits</div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" formControlName="NewPassword"
                    [(ngModel)]="userPwdResetData.NewPassword" placeholder="Password"
                    [ngClass]="{ 'is-invalid': submitted && otp.NewPassword.errors}" />
                  <div *ngIf="submitted && otp.NewPassword.errors" class="invalid-feedback">
                    <div *ngIf="otp.NewPassword.errors.required">Password is required</div>
                    <div *ngIf="otp.NewPassword.errors.minlength">Token must be at least 6 digits</div>
                    <div *ngIf="otp.NewPassword.errors.maxlength">Token must be not greater then 20 digits</div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" formControlName="ConfirmPassword"
                    [(ngModel)]="userPwdResetData.ConfirmPassword" placeholder="Confirm Password"
                    [ngClass]="{ 'is-invalid': submitted && otp.ConfirmPassword.errors}" />
                  <div *ngIf="submitted && otp.ConfirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="otp.ConfirmPassword.errors.required">Confirm Password is required</div>
                    <div *ngIf="otp.ConfirmPassword.errors.mustMatch">Passwords must match</div>
                  </div>
                </div>
                <div class="text-center">
                  <button class="btn btn-primary mr-1">Submit</button>
                  <!-- <button class="btn btn-secondary" type="reset" (click)="onOtpReset()">Cancel</button> -->
                </div>
                <div class="m-3 text-left">
                  <!-- <p style="size: 20px;"> If you not received OTP <a [routerLink]="['/hospital/forgotPassword']">
                    <b>Click here</b></a>
                </p> -->
                </div>
              </form>
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="text-left">
                    <label style="color: #f44336; font-size: small; font-style: italic;">Not received
                      &nbsp;
                      <a href="javascript:void(0);" style="color: blue; border-bottom: 1px solid blue;"
                        (click)="resendOTP()">Send
                        again?
                      </a>
                    </label>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="text-right">
                    <a href="javascript:void(0);" [routerLink]="['/login']"
                      style="color: blue; border-bottom: 1px solid blue;">Back to Login
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>