<!-- Page Content -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="terms-content">
                    <div class="row">
                        <div class="col-md-6">
                            <!--
                                    <div class="terms-text">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel sodales mauris. Nunc accumsan mi massa, ut maximus magna ultricies et:</p>
									<ol>
										<li>Integer quam odio, ullamcorper id diam in, accumsan convallis libero. Duis at lacinia urna.</li>
										<li>Mauris eget turpis sit amet purus pulvinar facilisis at sed lacus.</li>
										<li>Quisque malesuada volutpat orci, accumsan scelerisque lorem pulvinar vitae.</li>
										<li>Vestibulum sit amet sem aliquam, vestibulum nisi sed, sodales libero.</li>
									</ol>
								</div>
-->

                            <div class="terms-text">
                                <h4>Health Insurance Policy</h4>
                                <p>Donec posuere dictum enim, vel sollicitudin orci tincidunt ac. Maecenas mattis ex eu
                                    elit tincidunt egestas. Vivamus posuere nunc vel metus bibendum varius. Vestibulum
                                    suscipit lacinia eros a aliquam. Sed dapibus arcu eget egestas hendrerit.</p>

                                <p>Vivamus consectetur metus at nulla efficitur mattis. Aenean egestas eu odio
                                    vestibulum vestibulum. Duis nulla lectus, lacinia vitae nibh vitae, sagittis
                                    interdum lacus. Mauris lacinia leo odio, eget finibus lectus pharetra ut. Nullam in
                                    semper enim, id gravida nulla.</p>

                                <p>Fusce gravida auctor justo, vel lobortis sem efficitur id. Cras eu eros vitae justo
                                    dictum tempor.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="./../../../assets/img/Health-Insurance-Company-1.png" class="image-health">
                        </div>
                    </div>


                    <div class="terms-text">
                        <h4>Offers</h4>
                        <p>Phasellus sit amet vehicula arcu. Etiam pulvinar dui libero, vitae fringilla nulla convallis
                            in. Fusce sagittis cursus nisl, at consectetur elit vestibulum vestibulum:</p>
                        <ul>
                            <li>Nunc pulvinar efficitur interdum.</li>
                            <li>Donec feugiat feugiat pulvinar.</li>
                            <li>Suspendisse eu risus feugiat, pellentesque arcu eu, molestie lorem. </li>
                            <li>Duis non leo commodo, euismod ipsum a, feugiat libero.</li>
                        </ul>
                    </div>
                    <div class="terms-text">
                        <h4>Family Plan Health Insurance</h4>
                        <p>Sed sollicitudin, diam nec tristique tincidunt, nulla ligula facilisis nunc, non condimentum
                            tortor leo id ex.</p>

                        <p>Vivamus consectetur metus at nulla efficitur mattis. Aenean egestas eu odio vestibulum
                            vestibulum. Duis nulla lectus, lacinia vitae nibh vitae, sagittis interdum lacus. Mauris
                            lacinia leo odio, eget finibus lectus pharetra ut. Nullam in semper enim, id gravida nulla.
                        </p>

                        <p>Donec posuere dictum enim, vel sollicitudin orci tincidunt ac. Maecenas mattis ex eu elit
                            tincidunt egestas. Vivamus posuere nunc vel metus bibendum varius. Vestibulum suscipit
                            lacinia eros a aliquam. Sed dapibus arcu eget egestas hendrerit.Donec posuere dictum enim,
                            vel sollicitudin orci tincidunt ac. Maecenas mattis ex eu elit tincidunt egestas. Vivamus
                            posuere nunc vel metus bibendum varius. Vestibulum suscipit lacinia eros a aliquam. Sed
                            dapibus arcu eget egestas hendrerit.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="pricing5 py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 text-center">
                    <h2 style="text-align: center;margin-bottom: 25px; margin-top: 50px;">Our Health <span
                            class="red">Insurance Plans</span></h2>
                    <div class="switcher-box mt-4">
                        <div class="btn-group rounded-pill" data-toggle="buttons">
                            <label class="btn btn-outline-secondary btn-md active rounded-left">
                                <input type="radio" name="options" id="option1" checked> Monthly
                            </label>
                            <label class="btn btn-outline-secondary rounded-right btn-md">
                                <input type="radio" name="options" id="option2"> Yearly
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center pricing-box">
                <div class="col-md-4">
                    <div class="card card-shadow border-0 mb-4"
                        style="background:url(https://www.wrappixel.com/demos/ui-kit/wrapkit/./../../../assets/images/pricing/p5-img3.jpg)no-repeat">
                        <div class="card-body">
                            <h6 class="text-white mt-3 mb-0">BASE PACK</h6>
                            <h2 class="text-white mt-0 monthly">$100</h2>
                            <h2 class="text-white mt-0 yearly">$1000</h2>
                            <ul class="general-listing">
                                <li class="py-3 d-block">
                                    <h5 class="font-weight-normal">10 IMAGES</h5>
                                    <h6 class="subtitle font-weight-normal">Premium images / Day</h6>
                                </li>
                                <li class="py-3 d-block">
                                    <h5 class="font-weight-normal">05 Videos</h5>
                                    <h6 class="subtitle font-weight-normal">Video Footage / Day</h6>
                                </li>
                                <li class="py-3 d-block">
                                    <h5 class="font-weight-normal">03 Users</h5>
                                    <h6 class="subtitle font-weight-normal">Can access the site</h6>
                                </li>
                            </ul>
                            <a class="btn btn-outline-success btn-md rounded-pill mb-3" href="#f1"><span>BUY
                                    BASIC</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 middle-box">
                    <div class="card card-shadow border-0 mb-4"
                        style="background:url(./../../../assets/img/p5-img2.png)no-repeat">
                        <div class="card-body">
                            <h6 class="text-white mt-3 mb-0">PRO PACK</h6>
                            <h2 class="text-white mt-0 monthly">$200</h2>
                            <h2 class="text-white mt-0 yearly">$2000</h2>
                            <div class="star-plan mt-3"><img
                                    src="https://www.wrappixel.com/demos/ui-kit/wrapkit/./../../../assets/images/pricing/star.png"
                                    alt="wrapkit" /></div>
                            <ul class="general-listing">
                                <li class="py-3 d-block">
                                    <h5 class="font-weight-normal">20 IMAGES</h5>
                                    <h6 class="subtitle font-weight-normal">Premium images / Day</h6>
                                </li>
                                <li class="py-3 d-block">
                                    <h5 class="font-weight-normal">10 Videos</h5>
                                    <h6 class="subtitle font-weight-normal">Video Footage / Day</h6>
                                </li>
                                <li class="py-3 d-block">
                                    <h5 class="font-weight-normal">05 Users</h5>
                                    <h6 class="subtitle font-weight-normal">Can access the site</h6>
                                </li>
                            </ul>
                            <a class="btn btn-success-gradiant btn-md text-white rounded-pill mb-3" href="#f1"><span>BUY
                                    BASIC</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-shadow border-0 mb-4"
                        style="background:url(https://www.wrappixel.com/demos/ui-kit/wrapkit/./../../../assets/images/pricing/p5-img3.jpg)no-repeat">
                        <div class="card-body">
                            <h6 class="text-white mt-3 mb-0">BASE PACK</h6>
                            <h2 class="text-white mt-0 monthly">$300</h2>
                            <h2 class="text-white mt-0 yearly">$3000</h2>
                            <ul class="general-listing">
                                <li class="d-block py-3">
                                    <h5 class="font-weight-normal">50 IMAGES</h5>
                                    <h6 class="subtitle font-weight-normal">Premium images / Day</h6>
                                </li>
                                <li class="d-block py-3">
                                    <h5 class="font-weight-normal">25 Videos</h5>
                                    <h6 class="subtitle font-weight-normal">Video Footage / Day</h6>
                                </li>
                                <li class="d-block py-3">
                                    <h5 class="font-weight-normal">10 Users</h5>
                                    <h6 class="subtitle font-weight-normal">Can access the site</h6>
                                </li>
                            </ul>
                            <a class="btn btn-outline-success btn-md rounded-pill mb-3" href="#f1"><span>BUY
                                    BASIC</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /Page Content -->