<!-- Breadcrumb -->
<section class="inner-page-banner bg-common inner-page-top-margin tp2"
    data-bg-image="../../../assets/img/doctors/figure2.jpg"
    style="background-image: url(../../../assets/img/doctors/figure2.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-area">
                    <h1>Services</h1>
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>Services</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Breadcrumb -->

<!-- Page Content -->
<section class="m-pt-140 m-bg-1 m-pb-90">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div
                    class="single-service bg-white  type-1  radius-10 position-relative service-wrapper s-dp-10-60 m-mb-50">
                    <div
                        class="service-circle position-relative mb-4 text-active m-bg-4 rounded-circle d-flex align-items-center justify-content-center">
                        <span class="icon-test-tube text-grad-1"> <i class="fa fa-heartbeat"></i></span>
                    </div>
                    <h4 class="text-dark2 mb-3 position-relative pt-2">Heart Surgery</h4>
                    <p class="paragraph">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean
                        massa.
                    </p>

                </div>
            </div>
            <div class="col-md-3">
                <div
                    class="single-service bg-white  type-1 radius-10 position-relative service-wrapper s-dp-10-60 m-mb-50">
                    <div
                        class="service-circle position-relative mb-4 text-active m-bg-4 rounded-circle d-flex align-items-center justify-content-center">
                        <span class="icon-test-tube text-grad-1"><i class="fa fa-tint" aria-hidden="true"></i></span>
                    </div>
                    <h4 class="text-dark2 mb-3 position-relative pt-2">Blood Testing</h4>
                    <p class="paragraph">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean
                        massa.
                    </p>

                </div>
            </div>
            <div class="col-md-3">
                <div
                    class="single-service bg-white  type-1 radius-10 position-relative service-wrapper s-dp-10-60 m-mb-50">
                    <div
                        class="service-circle position-relative mb-4 text-active m-bg-4 rounded-circle d-flex align-items-center justify-content-center">
                        <span class="icon-test-tube text-grad-1"><i class="fa fa-tint" aria-hidden="true"></i></span>
                    </div>
                    <h4 class="text-dark2 mb-3 position-relative pt-2">DNA Testing</h4>
                    <p class="paragraph">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean
                        massa.
                    </p>

                </div>
            </div>
            <div class="col-md-3">
                <div
                    class="single-service bg-white  type-1 radius-10 position-relative service-wrapper s-dp-10-60 m-mb-50">
                    <div
                        class="service-circle position-relative mb-4 text-active m-bg-4 rounded-circle d-flex align-items-center justify-content-center">
                        <span class="icon-test-tube text-grad-1"><i class="fa fa-eye" aria-hidden="true"></i></span>
                    </div>
                    <h4 class="text-dark2 mb-3 position-relative pt-2">Eye Treatment</h4>
                    <p class="paragraph">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean
                        massa.
                    </p>

                </div>
            </div>
            <div class="col-md-3">
                <div
                    class="single-service bg-white  type-1 radius-10 position-relative service-wrapper s-dp-10-60 m-mb-50">
                    <div
                        class="service-circle position-relative mb-4 text-active m-bg-4 rounded-circle d-flex align-items-center justify-content-center">
                        <span class="icon-test-tube text-grad-1"><i class="fa fa-tooth" aria-hidden="true"></i></span>
                    </div>
                    <h4 class="text-dark2 mb-3 position-relative pt-2">Dental Care</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean
                        massa.
                    </p>

                </div>
            </div>
            <div class="col-md-3">
                <div
                    class="single-service bg-white  type-1 radius-10 position-relative service-wrapper s-dp-10-60 m-mb-50">
                    <div
                        class="service-circle position-relative mb-4 text-active m-bg-4 rounded-circle d-flex align-items-center justify-content-center">
                        <span class="icon-ambulance text-grad-1"><i class="fa fa-ambulance" aria-hidden="true"></i>
                        </span>
                    </div>
                    <h4 class="text-dark2 mb-3 position-relative pt-2">Emergency Service</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean
                        massa.
                    </p>

                </div>
            </div>
            <div class="col-md-3">
                <div
                    class="single-service bg-white  type-1 radius-10 position-relative service-wrapper s-dp-10-60 m-mb-50">
                    <div
                        class="service-circle position-relative mb-4 text-active m-bg-4 rounded-circle d-flex align-items-center justify-content-center">
                        <span class="icon-test-tube text-grad-1"><i class="fa fa-eye" aria-hidden="true"></i></span>
                    </div>
                    <h4 class="text-dark2 mb-3 position-relative pt-2">Pharmacy Service</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean
                        massa.
                    </p>

                </div>
            </div>
            <div class="col-md-3">
                <div
                    class="single-service bg-white  type-1 radius-10 position-relative service-wrapper s-dp-10-60 m-mb-50">
                    <div
                        class="service-circle position-relative mb-4 text-active m-bg-4 rounded-circle d-flex align-items-center justify-content-center">
                        <span class="icon-test-tube text-grad-1"><i class="fa fa-tooth" aria-hidden="true"></i></span>
                    </div>
                    <h4 class="text-dark2 mb-3 position-relative pt-2">Outdoor Checkup</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean
                        massa.
                    </p>
                    <!--
                        <a href="#" class="text-default fz-poppins text-Underline">
                            Read More
                        </a>
-->
                </div>
            </div>

        </div>
    </div>
</section>
<!-- /Page Content -->