<!-- Page Content -->
<div class="content">
	<div class="container-fluid">

		<div class="row">


			<div class="col-md-6">
				<div class="card">
					<div class="card-body">
						<div class="doctor-widget">
							<div class="doc-info-left">
								<div class="doctor-img">
									<a href="doctor-profile.html">
										<img src="./../../../assets/img/doctors/doctor-thumb-01.jpg" class="img-fluid" alt="User Image">
									</a>
								</div>
								<div class="doc-info-cont">
									<h4 class="doc-name"><a href="#">Apollo Pharmacy</a></h4>
									<div class="rating">
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star"></i>
										<span class="d-inline-block average-rating">(17)</span>
									</div>
									<div class="clinic-details">
										<p class="doc-location"><i class="fas fa-map-marker-alt"></i> Florida, USA</p>
										<ul class="clinic-gallery">
											<li>
												<a href="./../../../assets/img/features/feature-01.jpg" data-fancybox="gallery">
													<img src="./../../../assets/img/features/feature-01.jpg" alt="Feature">
												</a>
											</li>
											<li>
												<a href="./../../../assets/img/features/feature-02.jpg" data-fancybox="gallery">
													<img src="./../../../assets/img/features/feature-02.jpg" alt="Feature">
												</a>
											</li>
											<li>
												<a href="./../../../assets/img/features/feature-03.jpg" data-fancybox="gallery">
													<img src="./../../../assets/img/features/feature-03.jpg" alt="Feature">
												</a>
											</li>
											<li>
												<a href="./../../../assets/img/features/feature-04.jpg" data-fancybox="gallery">
													<img src="./../../../assets/img/features/feature-04.jpg" alt="Feature">
												</a>
											</li>
										</ul>
									</div>

								</div>
							</div>
							<div class="doc-info-right">
								<div class="clini-infos">
									<ul>
										<li><i class="far fa-thumbs-up"></i> 98%</li>
										<li><i class="far fa-comment"></i> 17 Feedback</li>
										<li><i class="fas fa-map-marker-alt"></i> Florida, USA</li>
									</ul>
								</div>
								<div class="clinic-booking">
									<a class="view-pro-btn" href="pharmacy-profile.html">View Profile</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Doctor Widget -->
			<div class="col-md-6">
				<div class="card">
					<div class="card-body">
						<div class="doctor-widget">
							<div class="doc-info-left">
								<div class="doctor-img">
									<a href="doctor-profile.html">
										<img src="./../../../assets/img/doctors/doctor-thumb-01.jpg" class="img-fluid" alt="User Image">
									</a>
								</div>
								<div class="doc-info-cont">
									<h4 class="doc-name"><a href="#">Medplus</a></h4>
									<div class="rating">
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star"></i>
										<span class="d-inline-block average-rating">(17)</span>
									</div>
									<div class="clinic-details">
										<p class="doc-location"><i class="fas fa-map-marker-alt"></i> Florida, USA</p>
										<ul class="clinic-gallery">
											<li>
												<a href="./../../../assets/img/features/feature-01.jpg" data-fancybox="gallery">
													<img src="./../../../assets/img/features/feature-01.jpg" alt="Feature">
												</a>
											</li>
											<li>
												<a href="./../../../assets/img/features/feature-02.jpg" data-fancybox="gallery">
													<img src="./../../../assets/img/features/feature-02.jpg" alt="Feature">
												</a>
											</li>
											<li>
												<a href="./../../../assets/img/features/feature-03.jpg" data-fancybox="gallery">
													<img src="./../../../assets/img/features/feature-03.jpg" alt="Feature">
												</a>
											</li>
											<li>
												<a href="./../../../assets/img/features/feature-04.jpg" data-fancybox="gallery">
													<img src="./../../../assets/img/features/feature-04.jpg" alt="Feature">
												</a>
											</li>
										</ul>
									</div>

								</div>
							</div>
							<div class="doc-info-right">
								<div class="clini-infos">
									<ul>
										<li><i class="far fa-thumbs-up"></i> 98%</li>
										<li><i class="far fa-comment"></i> 17 Feedback</li>
										<li><i class="fas fa-map-marker-alt"></i> Florida, USA</li>
									</ul>
								</div>
								<div class="clinic-booking">
									<a class="view-pro-btn" href="pharmacy-profile.html">View Profile</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Doctor Widget -->
			<div class="col-md-6">
				<div class="card">
					<div class="card-body">
						<div class="doctor-widget">
							<div class="doc-info-left">
								<div class="doctor-img">
									<a href="doctor-profile.html">
										<img src="./../../../assets/img/doctors/doctor-thumb-01.jpg" class="img-fluid" alt="User Image">
									</a>
								</div>
								<div class="doc-info-cont">
									<h4 class="doc-name"><a href="#">Hetero</a></h4>
									<div class="rating">
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star"></i>
										<span class="d-inline-block average-rating">(17)</span>
									</div>
									<div class="clinic-details">
										<p class="doc-location"><i class="fas fa-map-marker-alt"></i> Florida, USA</p>
										<ul class="clinic-gallery">
											<li>
												<a href="./../../../assets/img/features/feature-01.jpg" data-fancybox="gallery">
													<img src="./../../../assets/img/features/feature-01.jpg" alt="Feature">
												</a>
											</li>
											<li>
												<a href="./../../../assets/img/features/feature-02.jpg" data-fancybox="gallery">
													<img src="./../../../assets/img/features/feature-02.jpg" alt="Feature">
												</a>
											</li>
											<li>
												<a href="./../../../assets/img/features/feature-03.jpg" data-fancybox="gallery">
													<img src="./../../../assets/img/features/feature-03.jpg" alt="Feature">
												</a>
											</li>
											<li>
												<a href="./../../../assets/img/features/feature-04.jpg" data-fancybox="gallery">
													<img src="./../../../assets/img/features/feature-04.jpg" alt="Feature">
												</a>
											</li>
										</ul>
									</div>

								</div>
							</div>
							<div class="doc-info-right">
								<div class="clini-infos">
									<ul>
										<li><i class="far fa-thumbs-up"></i> 98%</li>
										<li><i class="far fa-comment"></i> 17 Feedback</li>
										<li><i class="fas fa-map-marker-alt"></i> Florida, USA</li>
									</ul>
								</div>
								<div class="clinic-booking">
									<a class="view-pro-btn" href="pharmacy-profile.html">View Profile</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>




			<div class="col-md-6">
				<div class="card">
					<div class="card-body">
						<div class="doctor-widget">
							<div class="doc-info-left">
								<div class="doctor-img">
									<a href="doctor-profile.html">
										<img src="./../../../assets/img/doctors/doctor-thumb-01.jpg" class="img-fluid" alt="User Image">
									</a>
								</div>
								<div class="doc-info-cont">
									<h4 class="doc-name"><a href="#">Medplus</a></h4>
									<div class="rating">
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star"></i>
										<span class="d-inline-block average-rating">(17)</span>
									</div>
									<div class="clinic-details">
										<p class="doc-location"><i class="fas fa-map-marker-alt"></i> Florida, USA</p>
										<ul class="clinic-gallery">
											<li>
												<a href="./../../../assets/img/features/feature-01.jpg" data-fancybox="gallery">
													<img src="./../../../assets/img/features/feature-01.jpg" alt="Feature">
												</a>
											</li>
											<li>
												<a href="./../../../assets/img/features/feature-02.jpg" data-fancybox="gallery">
													<img src="./../../../assets/img/features/feature-02.jpg" alt="Feature">
												</a>
											</li>
											<li>
												<a href="./../../../assets/img/features/feature-03.jpg" data-fancybox="gallery">
													<img src="./../../../assets/img/features/feature-03.jpg" alt="Feature">
												</a>
											</li>
											<li>
												<a href="./../../../assets/img/features/feature-04.jpg" data-fancybox="gallery">
													<img src="./../../../assets/img/features/feature-04.jpg" alt="Feature">
												</a>
											</li>
										</ul>
									</div>

								</div>
							</div>
							<div class="doc-info-right">
								<div class="clini-infos">
									<ul>
										<li><i class="far fa-thumbs-up"></i> 98%</li>
										<li><i class="far fa-comment"></i> 17 Feedback</li>
										<li><i class="fas fa-map-marker-alt"></i> Florida, USA</li>
									</ul>
								</div>
								<div class="clinic-booking">
									<a class="view-pro-btn" href="pharmacy-profile.html">View Profile</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card">
					<div class="card-body">
						<div class="doctor-widget">
							<div class="doc-info-left">
								<div class="doctor-img">
									<a href="doctor-profile.html">
										<img src="./../../../assets/img/doctors/doctor-thumb-01.jpg" class="img-fluid" alt="User Image">
									</a>
								</div>
								<div class="doc-info-cont">
									<h4 class="doc-name"><a href="#">Medplus</a></h4>
									<div class="rating">
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star"></i>
										<span class="d-inline-block average-rating">(17)</span>
									</div>
									<div class="clinic-details">
										<p class="doc-location"><i class="fas fa-map-marker-alt"></i> Florida, USA</p>
										<ul class="clinic-gallery">
											<li>
												<a href="./../../../assets/img/features/feature-01.jpg" data-fancybox="gallery">
													<img src="./../../../assets/img/features/feature-01.jpg" alt="Feature">
												</a>
											</li>
											<li>
												<a href="./../../../assets/img/features/feature-02.jpg" data-fancybox="gallery">
													<img src="./../../../assets/img/features/feature-02.jpg" alt="Feature">
												</a>
											</li>
											<li>
												<a href="./../../../assets/img/features/feature-03.jpg" data-fancybox="gallery">
													<img src="./../../../assets/img/features/feature-03.jpg" alt="Feature">
												</a>
											</li>
											<li>
												<a href="./../../../assets/img/features/feature-04.jpg" data-fancybox="gallery">
													<img src="./../../../assets/img/features/feature-04.jpg" alt="Feature">
												</a>
											</li>
										</ul>
									</div>

								</div>
							</div>
							<div class="doc-info-right">
								<div class="clini-infos">
									<ul>
										<li><i class="far fa-thumbs-up"></i> 98%</li>
										<li><i class="far fa-comment"></i> 17 Feedback</li>
										<li><i class="fas fa-map-marker-alt"></i> Florida, USA</li>
									</ul>
								</div>
								<div class="clinic-booking">
									<a class="view-pro-btn" href="pharmacy-profile.html">View Profile</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card">
					<div class="card-body">
						<div class="doctor-widget">
							<div class="doc-info-left">
								<div class="doctor-img">
									<a href="doctor-profile.html">
										<img src="./../../../assets/img/doctors/doctor-thumb-01.jpg" class="img-fluid" alt="User Image">
									</a>
								</div>
								<div class="doc-info-cont">
									<h4 class="doc-name"><a href="#">Medplus</a></h4>
									<div class="rating">
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star"></i>
										<span class="d-inline-block average-rating">(17)</span>
									</div>
									<div class="clinic-details">
										<p class="doc-location"><i class="fas fa-map-marker-alt"></i> Florida, USA</p>
										<ul class="clinic-gallery">
											<li>
												<a href="./../../../assets/img/features/feature-01.jpg" data-fancybox="gallery">
													<img src="./../../../assets/img/features/feature-01.jpg" alt="Feature">
												</a>
											</li>
											<li>
												<a href="./../../../assets/img/features/feature-02.jpg" data-fancybox="gallery">
													<img src="./../../../assets/img/features/feature-02.jpg" alt="Feature">
												</a>
											</li>
											<li>
												<a href="./../../../assets/img/features/feature-03.jpg" data-fancybox="gallery">
													<img src="./../../../assets/img/features/feature-03.jpg" alt="Feature">
												</a>
											</li>
											<li>
												<a href="./../../../assets/img/features/feature-04.jpg" data-fancybox="gallery">
													<img src="./../../../assets/img/features/feature-04.jpg" alt="Feature">
												</a>
											</li>
										</ul>
									</div>

								</div>
							</div>
							<div class="doc-info-right">
								<div class="clini-infos">
									<ul>
										<li><i class="far fa-thumbs-up"></i> 98%</li>
										<li><i class="far fa-comment"></i> 17 Feedback</li>
										<li><i class="fas fa-map-marker-alt"></i> Florida, USA</li>
									</ul>
								</div>
								<div class="clinic-booking">
									<a class="view-pro-btn" href="pharmacy-profile.html">View Profile</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Doctor Widget -->



		</div>
		<div class="load-more text-center">
			<a class="btn btn-primary btn-sm" href="javascript:void(0);">Load More</a>
		</div>
	</div>

</div>


<!-- /Page Content -->

<!-- /Page Content -->