<!-- Header -->
<header class="header fixed-top">
  <nav class="navbar navbar-expand-lg header-nav">
    <div class="navbar-header">
      <a id="mobile_btn" href="javascript:void(0);">
        <span class="bar-icon">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </a>
      <a href="javascript:void(0);" [routerLink]="['/home']" class="navbar-brand logo">
        <img src="./../../../assets/img/header/Web-Logo.png" alt="header">
      </a>
    </div>
    <div class="main-menu-wrapper">
      <!-- <div class="menu-header">
				<a href="index.html" class="menu-logo">
					<h3>MyMedi<span class="red">Desk</span></h3>
				</a>
				<a id="menu_close" class="menu-close" href="javascript:void(0);">
					<i class="fas fa-times"></i>
				</a>
			</div> -->
      <ul class="main-nav">
        <li class="active">
          <a href="javascript:void(0);" [routerLink]="['/home']">Home</a>
        </li>
        <li>
          <a href="javascript:void(0);" [routerLink]="['/about']">About</a>
        </li>
        <li class="has-submenu">
          <a href="javascript:void(0);" [routerLink]="['/services']">Services <i class="fas fa-chevron-down"></i></a>
          <ul class="submenu">
            <li><a href="javascript:void(0);">Ambulance</a></li>
            <li><a href="javascript:void(0);">Pharmacy</a></li>
            <li><a href="javascript:void(0);" [routerLink]="['/diagnostics']">Diagnostics</a></li>
            <li><a href="javascript:void(0);" [routerLink]="['/hospitals']">Medicals</a></li>
            <li><a href="javascript:void(0);" [routerLink]="['/healthInsurance']">Health Insurance</a></li>
            <!-- <li><a [routerLink]="['/user/createReport']">Create Report</a></li>
						<li><a [routerLink]="['/user/saveReport']">Save Report</a></li> -->
          </ul>
        </li>
        <li>
          <a href="javascript:void(0);" [routerLink]="['/hospitals']">Hospitals</a>
        </li>
        <li>
          <a href="javascript:void(0);" [routerLink]="['/contact']">Contact</a>
        </li>
        <!-- <li>
					<a href="Master-login.html">Admin Panel</a>
				</li> -->
      </ul>
    </div>
    <ul class="nav header-navbar-rht">
      <!-- <li>
				<a [routerLink]="['/user/appointmentList']">
					<button type="" class="btn btn-primary search-btn" style="height: 35px;   width: 150px;font-size: 13px;">
						<span>Appointment List</span></button>
				</a>
			</li>
      <li>
        <a [routerLink]="['/user/makeAppointment']">
          <button type="" class="btn btn-primary search-btn" style="height: 35px;   width: 150px;font-size: 13px;">
            <span>Book Appointment</span></button>
        </a>
      </li> -->
      <li class="nav-item">
        <a href="javascript:void(0);" (click)="logout()">
          <button type="" class="btn btn-primary search-btn" style="height: 35px;   width: 150px;font-size: 13px;">
            <span>Log Out</span>
          </button>
        </a>
      </li>
    </ul>
  </nav>
</header>
<!-- /Header -->