<!-- Page Content -->
<div class="content">

    <div class="container">

        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="blog-view">
                    <div class="blog blog-single-post">
                        <div class="blog-image">
                            <a href="javascript:void(0);"><img alt="" src="./../../../assets/img/blog/blog-01.jpg"
                                    class="img-fluid"></a>
                        </div>
                        <h3 class="blog-title">Mymedidesk – No: 1 Ambulance 24/7 Services</h3>

                        <div class="blog-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                est laborum.</p>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                                sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                                voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
                                amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
                                labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis
                                nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
                                consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam
                                nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla
                                pariatur?</p>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
                                occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt
                                mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et
                                expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque
                                nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda
                                est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut
                                rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non
                                recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis
                                voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
                            </p>
                        </div>

                    </div>
                </div>

                <h3 class="blog-title">Most Popular Amubalnce Services</h3><br>
                <div class="row blog-grid-row">

                    <div class="col-md-6 col-sm-12">

                        <!-- Blog Post -->
                        <div class="blog grid-blog">

                            <div class="blog-image">
                                <a href="blog-details.html"><img class="img-fluid"
                                        src="./../../../assets/img/blog/blog-01.jpg" alt="Post Image"></a>
                            </div>
                            <div class="blog-content">
                                <ul class="entry-meta meta-item">
                                    <li>
                                        <div class="post-author">
                                            <a href="doctor-profile.html"><img
                                                    src="./../../../assets/img/doctors/doctor-thumb-01.jpg"
                                                    alt="Post Author">
                                                <span>Dr. Ruby Perrin</span></a>
                                        </div>
                                    </li>
                                    <li><i class="far fa-clock"></i> 4 Dec 2019</li>
                                </ul>
                                <h3 class="blog-title"><a href="blog-details.html">Camps Emergency Operations Held</a>
                                </h3>
                                <p class="mb-0">Our fleet of over 500 specially-equipped emergency vehicles operates
                                    from 62 ambulance stations. A network of stand-by points, where vehicles wait until
                                    needed, helps us to respond more quickly.
                                    Patients are categorised according to the seriousness of their condition. Those
                                    whose […]</p>
                            </div>
                        </div>
                        <!-- /Blog Post -->

                    </div>
                    <div class="col-md-6 col-sm-12">

                        <!-- Blog Post -->
                        <div class="blog grid-blog">
                            <div class="blog-image">
                                <a href="blog-details.html"><img class="img-fluid"
                                        src="./../../../assets/img/blog/blog-02.jpg" alt="Post Image"></a>
                            </div>
                            <div class="blog-content">
                                <ul class="entry-meta meta-item">
                                    <li>
                                        <div class="post-author">
                                            <a href="doctor-profile.html"><img
                                                    src="./../../../assets/img/doctors/doctor-thumb-02.jpg"
                                                    alt="Post Author">
                                                <span>Dr. Darren Elder</span></a>
                                        </div>
                                    </li>
                                    <li><i class="far fa-clock"></i> 3 Dec 2019</li>
                                </ul>
                                <h3 class="blog-title"><a href="blog-details.html">Emergency Medical Assistance</a></h3>
                                <p class="mb-0">We give full ICU reinforcement in Emergency restorative help and rescue
                                    vehicle benefits that suit the necessities of individual and association.
                                    We offer our administration for distinctive event or assembling, for example, Small
                                    and Large business gathering, Wedding and birthday capacities, […]</p>
                            </div>
                        </div>
                        <!-- /Blog Post -->
                    </div>
                </div>


            </div>

            <!-- Blog Sidebar -->
            <div class="col-lg-4 col-md-12 sidebar-right theiaStickySidebar">

                <!-- Latest Posts -->
                <div class="card post-widget">
                    <div class="card-header">
                        <h4 class="card-title">Latest Posts</h4>
                    </div>
                    <div class="card-body">
                        <ul class="latest-posts">
                            <li>
                                <div class="post-thumb">
                                    <a href="blog-details.html">
                                        <img class="img-fluid" src="./../../../assets/img/blog/blog-thumb-01.jpg"
                                            alt="">
                                    </a>
                                </div>
                                <div class="post-info">
                                    <h4>
                                        <a href="blog-details.html">Mymedidesk – Best First-Aid?</a>
                                    </h4>
                                    <p>4 Dec 2019</p>
                                </div>
                            </li>
                            <li>
                                <div class="post-thumb">
                                    <a href="blog-details.html">
                                        <img class="img-fluid" src="./../../..//img/blog/blog-thumb-02.jpg" alt="">
                                    </a>
                                </div>
                                <div class="post-info">
                                    <h4>
                                        <a href="blog-details.html">No:1 Ambulance Servicess</a>
                                    </h4>
                                    <p>3 Dec 2019</p>
                                </div>
                            </li>


                            <li>
                                <div class="post-thumb">
                                    <a href="blog-details.html">
                                        <img class="img-fluid" src="./../../../assets/img/blog/blog-thumb-05.jpg"
                                            alt="">
                                    </a>
                                </div>
                                <div class="post-info">
                                    <h4>
                                        <a href="blog-details.html">Online Doctor Appointment Scheduling</a>
                                    </h4>
                                    <p>1 Dec 2019</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- /Latest Posts -->

                <!-- Categories -->
                <div class="card category-widget">
                    <div class="card-header">
                        <h4 class="card-title">Our Services</h4>
                    </div>
                    <div class="card-body">
                        <ul class="categories">
                            <li><a href="#">Ambulance </a></li>
                            <li><a href="#">Diagnostics </a></li>
                            <li><a href="#">Pharmacy </a></li>
                            <li><a href="#">Medicals</a></li>
                            <li><a href="#">Health Insurance</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /Categories -->

                <!-- Tags -->
                <div class="card tags-widget">
                    <div class="card-header">
                        <h4 class="card-title">Tags</h4>
                    </div>
                    <div class="card-body">
                        <ul class="tags">
                            <li><a href="#" class="tag">Children</a></li>
                            <li><a href="#" class="tag">Disease</a></li>
                            <li><a href="#" class="tag">Appointment</a></li>
                            <li><a href="#" class="tag">Booking</a></li>
                            <li><a href="#" class="tag">Kids</a></li>
                            <li><a href="#" class="tag">Health</a></li>
                            <li><a href="#" class="tag">Family</a></li>
                            <li><a href="#" class="tag">Tips</a></li>
                            <li><a href="#" class="tag">Shedule</a></li>
                            <li><a href="#" class="tag">Treatment</a></li>
                            <li><a href="#" class="tag">Dr</a></li>
                            <li><a href="#" class="tag">Clinic</a></li>
                            <li><a href="#" class="tag">Online</a></li>
                            <li><a href="#" class="tag">Health Care</a></li>
                            <li><a href="#" class="tag">Consulting</a></li>
                            <li><a href="#" class="tag">Doctors</a></li>
                            <li><a href="#" class="tag">Neurology</a></li>
                            <li><a href="#" class="tag">Dentists</a></li>
                            <li><a href="#" class="tag">Specialist</a></li>
                            <li><a href="#" class="tag">Mymedidesk</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /Tags -->

            </div>
            <!-- /Blog Sidebar -->

        </div>
    </div>

    <!-- End Service Details -->

    <!-- Blog -->

    <!-- End Blog -->
</div>
<!-- /Page Content -->