<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title">Change Password</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="updatePwdForm" (ngSubmit)="updatePwdFun()">
          <div class="form-row">
            <!-- <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <label>Mobile Number<span class="required"> * </span></label>
              <input type="text" class="form-control example-full-width" formControlName="MobileNumber"
                [attr.disabled]="true" [(ngModel)]="updatePwdData.MobileNumber" (keypress)="numbersOnly($event)"
                [ngClass]="{ 'is-invalid': submitted && update.MobileNumber.errors}" />
              <div *ngIf="submitted && update.MobileNumber.errors" class="invalid-feedback">
                <div *ngIf="update.MobileNumber.errors.required">Mobile Number is required</div>
                <div *ngIf="update.MobileNumber.errors.minlength">Mobile Number must be at least 10 digits</div>
                <div *ngIf="update.MobileNumber.errors.maxlength">Mobile Number must be not greater then 10 digits
                </div>
              </div>
            </div>
            <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <label>Email ID<span class="required"> * </span></label>
              <input type="email" class="form-control" formControlName="Email" [(ngModel)]="updatePwdData.Email"
                [attr.disabled]="true" [ngClass]="{ 'is-invalid': submitted && update.Email.errors}" />
              <div *ngIf="submitted && update.Email.errors" class="invalid-feedback">
                <div *ngIf="update.Email.errors.required">Email is required</div>
                <div *ngIf="update.Email.errors.email">Email must be a valid email address</div>
              </div>
            </div> -->
            <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <label>Old Password<span class=" required"> * </span></label>
              <input type="password" class="form-control" formControlName="Password"
                [(ngModel)]="updatePwdData.Password" (keydown)="hideErrMsg($event)"
                [ngClass]="{ 'is-invalid': submitted && update.Password.errors}" />
              <div *ngIf="submitted && update.Password.errors" class="invalid-feedback">
                <div *ngIf="update.Password.errors.required">Password is required</div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <label>New Password<span class=" required"> * </span></label>
              <input type="password" class="form-control" formControlName="NewPassword"
                [(ngModel)]="updatePwdData.NewPassword"
                [ngClass]="{ 'is-invalid': submitted && update.NewPassword.errors}" />
              <div *ngIf="submitted && update.NewPassword.errors" class="invalid-feedback">
                <div *ngIf="update.NewPassword.errors.required">Password is required</div>
                <div *ngIf="update.NewPassword.errors.minlength">Token must be at least 6 digits</div>
                <div *ngIf="update.NewPassword.errors.maxlength">Token must be not greater then 20 digits</div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <label>Confirm Password<span class=" required"> * </span></label>
              <input type="password" class="form-control" formControlName="ConfirmPassword"
                [(ngModel)]="updatePwdData.ConfirmPassword"
                [ngClass]="{ 'is-invalid': submitted && update.ConfirmPassword.errors}" />
              <div *ngIf="submitted && update.ConfirmPassword.errors" class="invalid-feedback">
                <div *ngIf="update.ConfirmPassword.errors.required">Confirm Password is required</div>
                <div *ngIf="update.ConfirmPassword.errors.mustMatch">Passwords must match</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-12 text-center">
              <div class="errMsg">{{errMsg}}</div>
            </div>
          </div>
          <div class="text-right">
            <button class="btn btn-primary mr-1" (click)="onReset()">Cancel</button>
            <button class="btn btn-primary mr-1">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>